---
import Svelte from '../svelte/banner.svelte'
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="icon" href="/logo.png">
  </head>
  <body>
    <Svelte />
  </body>
</html>
